@using Fulbo12.Core.Mvc.ViewModels;
@model VMFutbolista;
@{
    var texto = Model.IdPersonaJuego == 0 ? "Alta Futbolista" : "Modificar Futbolista";
    ViewData["Title"] = texto;
}

<form asp-controller="Futbolista" asp-action="Upsert" method="post">
    <div asp-validation-summary="All"></div>
    <div><input type="hidden" asp-for="@Model.IdPersonaJuego" /></div>
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <select asp-items="Model.PosicionesJugador" asp-for="IdPosicion" class="form-select">
                @if (Model.IdPosicion == 0)
                {
                    <option selected="selected" value="" disabled>Seleccione una posicion</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <select asp-items="Model.EquipoJugador" asp-for="IdEquipo" class="form-select">
                @if (Model.IdEquipo == 0)
                {
                    <option selected="selected" value="" disabled>Seleccione una equipo</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <select asp-items="Model.Tipojugador" asp-for="IdTipo" class="form-select">
                @if (Model.IdTipo == 0)
                {
                    <option selected="selected" value="" disabled>Seleccione una tipo</option>
                }
            </select>
        </div>
        <div class="col-auto">
            @if (Model.IdPersonaJuego == 0)
            {
                <button type="submit" class="btn btn-primary">@texto</button>
            }
            else
            {
                <button type="submit" class="btn btn-warning">@texto</button>
            }
        </div>
    </div>
</form>
